# .env.example for collectivault-dev
PORT=3009
NITRO_HOST=127.0.0.1
NODE_ENV=production
UV_THREADPOOL_SIZE=128
APP_NAME=collectivault-dev
# Add other environment variables below as needed
CMS_EMAIL=""
CMS_PASSWORD=""